[Unit]
Description=Wait until we're connected to the Internet
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/wait-online-rs
TimeoutStartSec=infinity

[Install]
WantedBy=network-online.target
Also=wait-online-onresume.service
